.characters-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.character-card {
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
}

.character-image {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.character-name {
  font-size: 1.3rem;
  margin: 10px 0;
}

.character-description {
  font-size: 0.9rem;
  color: #555;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.islas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.isla-card {
  background: #e0f7fa; /* un azul clarito diferente para distinguir */
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.isla-name {
  font-size: 1.3rem;
  margin: 10px 0;
  color: #00796b; /* un verde azulado */
}

.isla-description {
  font-size: 0.9rem;
  color: #555;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
